@import 'styles/variables.scss';

.add-btn {
  padding: $spacing * 3 $spacing * 2;
  margin-left: -$spacing * 2;

  display: flex;
  align-items: center;

  background: $color-gray-bg;
  border-radius: 3px;
  color: $color-gray;

  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &__title {
    background-color: transparent;
  }

  &__icon {
    margin-right: $spacing * 2;

    width: 15px;
    height: 15px;
  }
}

.add-form {
  padding-right: $spacing * 2;
  margin: $spacing * 2 0;
}

.add-form__textarea {
  padding: $spacing * 2 $spacing * 3;
  margin-bottom: $spacing * 2;

  width: 100%;
  height: 65px;

  background: $color-white;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border-radius: 3px;
}

.add-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    padding: $spacing * 2;

    font-weight: 700;

    color: $color-white;

    background-color: $color-green;
    border-radius: 3px;

    &:hover {
      filter: brightness(95%);
    }

    &:disabled {
      cursor: auto;
      filter: none;
      opacity: 0.7;
    }
  }
  &__icon {
    width: 15px;
    height: 15px;

    color: $color-gray;
    cursor: pointer;

    &:hover {
      filter: brightness(80%);
    }
  }
}
