$spacing: 4px;

$font-size-md: 13px;
$line-heigth-md: 19px;

$color-black: #000000;
$color-gray: #6b808c;
$color-gray-light: #b8b9bb;
$color-gray-bg: #dfe3e6;
$color-white: #ffffff;
$color-green: #39c071;
