@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './styles/variables.scss';
@import './styles/common.scss';

body {
  height: 100vh;
  background-image: url('./assets/bgImage.jpg');
  background-size: 100% 100%;
  padding: $spacing * 5;
}

.app-wrapper {
  display: flex;
  align-items: flex-start;
}
